global_defs {
  router_id zsz

}

vrrp_sync_group VG1 {
      group {
          VI_1
      }

}

vrrp_instance VI_1 {
    state {{ state }}
    interface eth0
    virtual_router_id 51
    priority {{ priority }}
    advert_int 1
    nopreempt
    authentication {
          auth_type PASS
          auth_pass 1111

   }

  virtual_ipaddress {
       {{ vip }}/24 dev eth0 label eth0:1
     }

}


virtual_server {{ vip }} 3306 {
           delay_loop 2
           lb_algo wrr
           lb_kind DR
           persistence_timeout 60
           protocole TCP
           real_server {{ ansible_eth0.ipv4.address }} 3306 {
           weight 3
             notify_down /etc/keepalived/check_mysql.sh
           TCP_CHECK {
           connect_timeout 10
           nb_get_retry 3
           delay_before_retry 3
           connect_port 3306
         }

}



































