- name: setup database
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: setup database
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: post setup
  include: post-setup.yml

- name: start master
  shell: galera_new_cluster
  when: master == true

- name: start mysql
  service: name=mysql state=started enabled=yes
  when: master == false

- name: creating database MySQL database
  shell: mysql -u root -e "CREATE DATABASE IF NOT EXISTS {{ db_name }};"
  when: master == true

- name: Create readwrite user
  shell : |
           mysql -u root -e "CREATE USER '{{ db_admin }}'@'%' IDENTIFIED BY '{{ db_admin_password }}';"
           mysql -u root -e "GRANT SELECT,INSERT,UPDATE,DELETE,CREATE,DROP ON *.* TO '{{ db_admin }}'@'%';"
  when: master == true
