- name: setup database
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: setup database
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: post setup
  include: post-setup.yml

- name: start master
  shell: galera_new_cluster
  when: master == true and not (ansible_distribution_release == 'trusty')

- name: start master for ubuntu 14.04
  shell: service mysql start --wsrep-new-cluster
  when: master == true and ansible_distribution_release == 'trusty'

- name: start mysql
  service: name=mysql state=started enabled=yes
  when: master == false

- name: creating database MySQL database
  shell: mysql -u root -e "CREATE DATABASE IF NOT EXISTS {{ db_name }};"
  when: master == false

- name: create user database
  shell: |
          mysql -u root -e "CREATE USER IF NOT EXISTS '{{ db_admin }}'@'%' IDENTIFIED BY '{{ db_admin_password }}';"
          mysql -u root -e "GRANT SELECT,INSERT,UPDATE,DELETE,CREATE,DROP ON {{ db_name }}.* TO '{{ db_admin }}'@'%';"
          mysql -u root -e "flush privileges;"
  when: master == true
