- name: Install lvm and mylvmbackup on Debian
  apt: pkg={{ item }} state=present
  with_items:
    - lvm2
    - mylvmbackup
  when: ansible_os_family == "Debian"

- name: Install lvm and mylvmbackup on Redhat
  yum: name={{ item }} state=present
  with_items:
   - lvm2
   - mylvmbackup
  when: ansible_os_family == "RedHat"

- name: create /data folder
  file: path=/DbStorage state=directory

- name: create vg01
  lvg: vg={{ vg_name }} pvs={{ pv_disk }}

- name: create lvm global
  lvol: vg={{ vg_name }} lv={{ lv_name }} size={{ lv_size }}
- name: create filesystem on global
  filesystem: fstype=ext4 dev=/dev/{{ vg_name }}/{{ lv_name }}

- name: mount global
  mount: name=/DbStorage src=/dev/{{ vg_name }}/{{ lv_name }} fstype=ext4 opts=noatime passno=2 state=mounted

- name: stop mysql
  service: name=mysql state=stopped
  when: ansible_os_family == 'Debian'

- name: stop mysqld
  service: name=mysqld state=stopped
  when: ansible_os_family == 'RedHat'

- name: mv /var/lib/mysql to /DbStorage
  shell: cp -rp /var/lib/mysql /DbStorage


- name:  change conf apparmor
  copy: src=usr.sbin.mysqld  dest=/etc/apparmor.d/usr.sbin.mysqld
  notify: restarted apparmor
  when: ansible_distribution == 'Ubuntu'



- name: change conf my.cnf Debian
  replace: dest=/etc/mysql/my.cnf regexp="datadir     = /var/lib/mysql" replace="datadir     = /DbStorage/mysql"
  notify:  restart mysql
  when: ansible_os_family == "Debian"

- name: change conf my.cnf Redhat
  replace: dest=/etc/my.cnf regexp="datadir     = /var/lib/mysql" replace="datadir     = /DbStorage/mysql"
  notify: restart mysqld
  when: ansible_os_family == "RedHat"



#- name: Modify configuration mylvmbackup
#  template: src=mylvmbackup.conf.j2 dest=/etc/mylvmbackup.conf


