- name: Ensure GlusterFS is installed.
  apt:
    name: "{{ item }}"
    state: installed
  with_items:
    - glusterfs-server

- name: glusterfs-service state
  service: name=glusterfs-server enabled=yes

