- name: setup database
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: setup database
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: include master
  include: replication.yml

- name: creating database MySQL database
  mysql_db: name={{ db_name }} state=present

- name: Create readwrite user
  mysql_user: name={{ db_admin }} host="%" password={{ db_admin_password }} priv={{ db_name }}.*:SELECT,INSERT,UPDATE,DELETE,CREATE,DROP state=present

- name: post setup
  include: post-setup.yml
