- name: setup database
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: setup database
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: include master
  include: replication.yml

- name: creating database MySQL database
  shell: mysql -u root -e "CREATE DATABASE {{ db_name }};"

- name: Create readwrite user
  shell : |
           mysql -u root -e "CREATE USER '{{ db_admin }}'@'%' IDENTIFIED BY '{{ db_admin_password }}';"
           mysql -u root -e "GRANT SELECT,INSERT,UPDATE,DELETE,CREATE,DROP ON *.* TO '{{ db_admin }}'@'%';"


- name: post setup
  include: post-setup.yml
