- name: repl user
  mysql_user: name=repl login_user=root login_password="" host="%" password={{ db_admin_password }} priv="*.*:SELECT,PROCESS,FILE,SUPER,REPLICATION CLIENT,REPLICATION SLAVE,RELOAD" state=present


- name: Get master binlog file name and binlog position
  mysql_replication: mode=getmaster
  register: repl_stat

- name: stop slave
  mysql_replication: mode=stopslave


- name: change the master in slave to start the replication
  shell: mysql -u root -e "CHANGE MASTER TO MASTER_HOST = '{{ master_ip }}', MASTER_USER = 'repl', MASTER_PASSWORD = '{{ db_admin_password }}',MASTER_LOG_POS = {{ repl_stat.Position }}"


- name: start slave
  mysql_replication: mode=startslave login_user=root login_password=12345678

- name: post setup
  include: post-setup.yml
