---
- name: restart mysql
  service: name=mysql state=restarted enabled=yes

- name: restart mysqld
  service: name=mysqld state=restarted enabled=yes

- name: restarted apparmor
  service: name=apparmor state=restarted enabled=yes
  notify: restart mysql




