---
- name: Install Java 1.8 and httpd
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: Install Java 1.8 & apache2
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: add group "tomcat"
  group: name=tomcat

- name: add user "tomcat"
  user: name=tomcat group=tomcat home=/usr/share/tomcat createhome=no
  sudo: True

- name: Download Tomcat
  get_url: url=http://www-eu.apache.org/dist/tomcat/tomcat-8/v8.0.33/bin/apache-tomcat-8.0.33.tar.gz dest=/opt

- name: create /opt/tomcat folder
  file: path=/opt/tomcat state=directory mode=0755 recurse=yes


- name: Extract archive
  shell: /bin/tar xvfz /opt/apache-tomcat-8.0.33.tar.gz -C /opt/tomcat --strip 1

- name: purge tomcat webapps
  file: path=/opt/tomcat/webapps/{{ item }} state=absent
  with_items:
          - ROOT
          - docs
          - examples
- name: add permission for /opt/tomcat
  shell: chown -R tomcat:tomcat /opt/tomcat


- name: Symlink install directory
  file: src=/opt/tomcat path=/usr/share/tomcat owner=tomcat group=tomcat state=link


- name: Configure Tomcat users
  copy: src=tomcat-users.xml dest=/usr/share/tomcat/conf/

- name: Install Tomcat init script on Ubuntu
  copy: src=tomcat-initscript.sh dest=/etc/init.d/tomcat mode=0755
  when: ansible_os_family == 'Debian'

- name: Install Tomcat init script on Debian
  shell: update-rc.d tomcat defaults
  when: ansible_distribution == 'Debian'

- name: Install Tomcat init script
  copy: src=tomcat.service dest=/etc/systemd/system/tomcat.service mode=0755
  when: ansible_os_family == 'RedHat'

- name: tomcat service state
  service: name=tomcat enabled=yes
  when: ansible_distribution == 'Ubuntu' and ansible_os_family == 'RedHat'

- name: Start Tomcat
  service: name=tomcat state=started enabled=yes


