
- name: upgrade all packages
  yum: name=* state=latest

- name: Fetch glusterfs repo file
  get_url: dest=/etc/yum.repos.d/glusterfs-epel.repo
           url=http://download.gluster.org/pub/gluster/glusterfs/LATEST/EPEL.repo/glusterfs-epel.repo

- name: Set repo file permissions
  file: owner=root group=root mode=0644
        path=/etc/yum.repos.d/glusterfs-epel.repo

- name: get epel-repo rpm RHEL5
  get_url: dest=/tmp/nc-1.84-24.el6.x86_64.rpm  url=ftp://195.220.108.108/linux/centos/6.7/os/x86_64/Packages/nc-1.84-24.el6.x86_64.rpm

- name: install epel-repo rpm
  yum: pkg=/tmp/nc-1.84-24.el6.x86_64.rpm state=installed


- name: Install glusterfs client  packages Redhat
  yum: name={{item}} state=installed enablerepo="glusterfs-epel"
  with_items:
     - glusterfs
     - glusterfs-fuse


- name: Ensure build dependencies are installed (RedHat).
  yum: 'name="{{ item }}" state=present'
  with_items:
     - libselinux-python
     - wget
     - git

- name: Set selinux into 'permissive' mode.
  selinux: policy=targeted state=permissive

- name: change conf selinux Redhat
  lineinfile: dest=/etc/selinux/config  regexp="^SELINUX=" line="SELINUX=disabled"


